
/* .nav-style{
    display: flex;
    justify-content:space-between; 
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    
/*
.links{
    color: blueviolet;
    display: contents;
} */

/* width:500, position:'absolute', bottom:0, display:'flex', backgroundColor:'red' */