/* .heading{
    background-color: darkmagenta;
    color: white;
    height: 10vh;
    font-size: 3vw;
    position: fixed;
    width: 100%;
    z-index: 100;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
    text-transform: uppercase;

} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.heading{
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #39445a;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
}

@media (max-width: 1000px) {
    .heading {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }